.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #d37373;
}

table {
  color: rgb(91, 16, 94);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #d6a4d6;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgb(241, 209, 234);
  }